{
  "extends": ["unobtrusive"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "overrides": [{
    "files": ["*.test.js"],
    "env": {
      "jest": true
    }
  }, {
    "files": ["webpack.config.js"],
    "env": {
      "node": true
    }
  }]
}
